
html,
button,
input,
select,
textarea {
    color: #222;
}

body {

}
html, body {
        height:100%;
    }

    .skrollr-desktop body {
        height:100% !important;
    }

@font-face{font-family:'GT Sectra Fine';src:url('../type/GT-Sectra-Fine-Book.eot?') format('eot'),url('../type/GT-Sectra-Fine-Book.woff') format('woff'),url('../type/GT-Sectra-Fine-Book.ttf') format('truetype'),url('../type/GT-Sectra-Fine-Book.svg#webfontlZlKz9CF') format('svg');font-weight:400;font-style:normal;}
@font-face{font-family:'GT Sectra Fine';src:url('../type/GT-Sectra-Fine-Book-Italic.eot?') format('eot'),url('../type/GT-Sectra-Fine-Book-Italic.woff') format('woff'),url('../type/GT-Sectra-Fine-Book-Italic.ttf') format('truetype'),url('../type/GT-Sectra-Fine-Book-Italic.svg#webfontlZlKz9CF') format('svg');font-weight:400;font-style:italic;}
 @font-face { font-family: 'Orator'; src: url('../fonts/OratorStd.otf'); }
@font-face { font-family: 'ls'; src: url('../fonts/LiberationSans-Regular.ttf'); }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Parallax Scroll
   ========================================================================== */
body, html {
	height: 100%;
	min-height: 100%;
	background-color: #000000;
}

.no-js {
	padding-top: 106px;
}
h2 {
}
.loading {
	background: url('../images/ico_loading.gif') no-repeat center center;
}

section {
	min-width: 960px;
	opacity: 1;
}
.loaded section,
.no-js section {
	opacity: 1;
	-webkit-transition: opacity 300ms ease-out;
	-moz-transition: opacity 300ms ease-out;
	transition: opacity 300ms ease-out;
}
main {
	overflow-x: hidden;
}
.btn-default {
color:#000;
border-style: none;
background-color: #000;
border-color: #333;
background: rgba(255,255,255,.8);
padding-top: 12px;
text-decoration: underline;
    font-size: 20px;
    margin: 10px;

}
.btn-primary {
color:#fff;

border-style: solid;
background-color: #000;
border-color: #999;
background: rgba(255,255,255,0);
padding-top: 12px;
    font-size: 18px;
    margin: 10px;

}

.btn-primary:disabled {
 border-style:solid;
 color:#fff;
 background: rgba(255,255,255,0);
 opacity: 1;
  border-color: #999;
 }

.btn-default:hover {
  border-style:solid;
  border-color: #000;
  text-decoration: underline;
   background-color: #fff; }

nav a:hover {
  color: #fff;
}

nav a.selected {
  color: #fff;
  border-bottom: 1px solid white;
}
.navbar-fixed {
  background-color:  blue;
  top: 0;
  z-index: 100;
  position: fixed;
  width: 100%;
}
.navbar-top {
  background-color: rgba(255,255,255,0) !important;

  position: absolute;
  height:10% !important;
  top:90% !important;
}
.navbar-nav > li > a {
}
.navbar {
}
.navbar-brand {min-height:32px !important}
.navbar-default{
  font-family: 'Open Sans', serif;
  background-color: #000;

    opacity: 1;
    padding-left: 10px;
    border-color: rgba(255,255,255,0);
}
.navbar-default .navbar-nav > li > a {
    color: #fafafa;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: blue;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    text-decoration: underline;
    color:#fff;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: white;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: black;
    background-color: #000
    ;
}

.MenuStuff,
.MenuStuff ul {
    z-index: 105;
}

.box {
padding: 0 5px 0 5px;
}
.box .inner {
    background: rgba(255,255,255,.65);

    border-radius: 10px;
    padding: 0.5px 2px 0.5px 2px;
    height: 160px;

}
.thumbnail {
  border-radius: 20px;
  border-color: #000;
  background-size: cover;
  height: 220px;
  border-width: 2px;

}

.bcg {

	   position:fixed;
        left:0;
        width:100%;
        overflow:hidden;
}

/* Slide 1 */

/* Slide 2 */
#slide-1 .bcg {
  background-color: #fff;

height: 100%;
    top:-100%;}

    #slide-1 .hsInner {

}

.jumbotron {
background: rgba(0,0,0,0);
}
/* Slide 2 */
#slide-2 .bcg {background: none; background-color: #010101; height: 310px; text-align: center}

/* Slide 3 */
#slide-3 .bcg {
    height: 100%;
    top:-100%;
}
#slide-6 .hsContent {
  /*  background-image:url('../images/bg/bcg_slide-2.jpg');*/
}
#slide-4 .bcg {
    border-bottom: 1px black solid;


    height: 50%;
    top:-50%;
}
#slide-5 .bcg {
    border-top: 1px black solid;
    border-bottom: 2px black solid;

    height: 50%;
    top:-50%;
}
#slide-6 .bcg {

    height: 100%;
    top:-100%;
}
#slide-7 .bcg {
}
#slide-8 .bcg {
    height: 100%;
    top:-100%;
     border-top: 6px black solid;
}
#slide-9 .bcg {
    height: 150%;
    top:-125%;
}
#slide-10 .bcg {
    height: 50%;
    top:-50%;
}
#slide-11 .bcg {
    height: 100%;
    top:-100%;
}
#slide-12 .bcg {
    height: 50%;
    top:-50%;
}
#slide-13 .bcg {
  background: rgba(0,0,0,0);
    height: 100%;
    top:-100%;
}
#slide-14 .bcg {
  background-color: #fafafa;

    height: 100%;
    top:-100%;
}
/* Slide 4 */
.curtainContainer {width: 100%; height: 100%; position: relative;}
.curtainContainer .curtain {width: 300%; height: 1px; background-color: #000000; position: absolute; top: 25%; left: 0; opacity: 0}
.curtainContainer .copy {position: absolute; bottom: 30%; left: 0; width: 100%; text-align: center;}


/* Slide 5 */

.hsContainer {
    background-repeat:no-repeat;
        background-position:center;
        background-size:cover;
    bottom:0;
        left:0;

	display: table;
	table-layout: fixed;
	width: 100%;

	overflow: hidden;
	position: relative;
}
#slide-1 .hsContainer {
  background-image:url('../images/bg/bg2.jpg');

     height:100%;
        top:0%;
}

#slide-1 .hsContent {
height: 100% !important;
    /*background-size: 60%;*/
    padding-top: 4%;
}
#slide-3 .hsContainer {
    border-top: 2px black solid;

    border-bottom: 2px black solid;
     height:100%;
        top:0%;
}
#slide-4 .hsContainer {
    border-top: 2px black solid;

    border-bottom: 2px black solid;

     height:200%;
        top:-50%;
}
#slide-5 .hsContainer {

     height:200%;
        top:-50%;
}
#slide-6 .hsContainer {
  background-color: #fafafa;
    border-top: 3px black solid;
     height:100%;
        text-align: center;
}
#slide-6 .hsContent {
vertical-align: middle;
padding-left: 10%;
padding-right: 10%;
background-image:url('../images/bg/bcg_slide-1.jpg');
background-position: top;

}
#slide-7 .hsContainer {

}
#slide-8 .hsContainer {
    height:25% !important;
}
#slide-8 .hsContent {
vertical-align: middle;
text-align: center;
padding-left: 10%;
padding-right: 10%;

}
#slide-9 .hsContainer {
    border-top: 5px black solid;
    border-bottom: 3px black solid;
     height:100%;
        top:0%;
}
#slide-9 .hsContent {
  background-image:url('../images/bg/bg4.jpg');
  background-position: top;
vertical-align: middle;
padding-left: 10%;
padding-right: 10%;
text-align: center;

}
#slide-10 .hsContainer {
     height:200%;
        top:-50%;
}

#slide-11 .hsContainer {
    border-bottom: 2px black solid;
    border-top: 2px black solid;
     height:100%;
        top:0%;
}
#slide-12 .hsContainer {


     height:400%;
        top:-100%;
}

#slide-13 .hsContainer {
     height:100%;
        top:0%;
}
#slide-13 .hsContent {
vertical-align: top;
text-align: center;
}

#slide-14 .hsContainer {
  background-color: #fafafa;
    border-top: 2px black solid;
     height:100%;
        top:0%;
        background-image:url('../images/bg/manhattan.jpg');

}
#slide-14 .hsContent {
vertical-align: middle;
text-align: center;
}
.hsContent {

    background-repeat:no-repeat;
        background-position:center;
        background-size:cover;
        width:100%;
	display: table-cell;
}
    .hsContent h1,
    .copy h1 {
font-family: 'PT Serif', serif;      /*font-weight:bold;*/
      color:#fff;
    }

	.hsContent h2,
	.copy h2 {
        /*
        light orange #EF6F08
        deep orange #ED4912
        yellow #FFD119
        red #F2041C
        pink  #FC3548
        light pink FF4E50
        blue 009989
        green A3A948



        */
        font-family: 'Playfair Display';
		font-size: 45px;
		line-height: 48px;
		margin-bottom: 12px;
        font-weight: bold;
        color: #7EC04B;

        -webkit-text-stroke: 0px #888;
	}
.hsContent h3,
    .copy h3 {
         /* deep orange */
        font-weight: bolder;
        color: #ED4912;
        font-size: 3em;
        line-height: 48px;
        margin-bottom: 12px;

    }
    .hsContent h4,
    .copy h4 {
      font-family: 'Helvetica', serif;
        font-size: 1.6em;
        color: #fff;
    }
.hsContent h5,
    .copy h5 {

        font-size: 46px;
        line-height: 48px;
        margin-bottom: 12px;
        text-align: center;

    font-weight: bold;
        -webkit-text-stroke: 1px #333;
    }

	.hsContent p {
color: #000;
font-family:"Open Sans";
	}
	.hsContent a {
		color: #009989;


	}
  .hsContent b {
    font-weight: bold;

  }
    .hsContent a:hover {
  color: #fff;
  text-decoration: underline;
}
  #slide-12 a:hover {
  color: #222;
  text-decoration: underline;
}

	.bgBlack {
		background-color: rgba(0,0,0,0.75);
		padding: 3px 10px;
	}





/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
